In [1]:
1+2

3

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Date Time").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/03/01 00:33:16 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/03/01 00:33:17 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [12]:
df1 = spark.read.format("csv").option("header",True).option("inferschema",True).load("DataSets/transactions.csv")

df1.show(5)

+-----------+-------------+--------+-------------------+----------------+-------+
|Customer_No|    Card_type|    Date|           Category|Transaction Type| Amount|
+-----------+-------------+--------+-------------------+----------------+-------+
|    1000501|Platinum Card|1/1/2018|           Shopping|           debit|  11.11|
|    1000501|     Checking|1/2/2018|    Mortgage & Rent|           debit|1247.44|
|    1000501|  Silver Card|1/2/2018|        Restaurants|           debit|  24.22|
|    1000501|Platinum Card|1/3/2018|Credit Card Payment|          credit|2298.09|
|    1000501|Platinum Card|1/4/2018|      Movies & DVDs|           debit|  11.76|
+-----------+-------------+--------+-------------------+----------------+-------+
only showing top 5 rows

In [13]:
df1.printSchema()

# Check Date Column Type

root
 |-- Customer_No: integer (nullable = true)
 |-- Card_type: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Transaction Type: string (nullable = true)
 |-- Amount: double (nullable = true)

In [27]:
df2 = spark.read.format("csv").option("header",True).option("inferschema",True).option("timestampFormat","M/d/yyyy").load("DataSets/transactions.csv")

df2.show(5)

+-----------+-------------+-------------------+-------------------+----------------+-------+
|Customer_No|    Card_type|               Date|           Category|Transaction Type| Amount|
+-----------+-------------+-------------------+-------------------+----------------+-------+
|    1000501|Platinum Card|2018-01-01 00:00:00|           Shopping|           debit|  11.11|
|    1000501|     Checking|2018-01-02 00:00:00|    Mortgage & Rent|           debit|1247.44|
|    1000501|  Silver Card|2018-01-02 00:00:00|        Restaurants|           debit|  24.22|
|    1000501|Platinum Card|2018-01-03 00:00:00|Credit Card Payment|          credit|2298.09|
|    1000501|Platinum Card|2018-01-04 00:00:00|      Movies & DVDs|           debit|  11.76|
+-----------+-------------+-------------------+-------------------+----------------+-------+
only showing top 5 rows

In [25]:
df2.printSchema()

# Check Date Column Type

root
 |-- Customer_No: integer (nullable = true)
 |-- Card_type: string (nullable = true)
 |-- Date: timestamp (nullable = true)
 |-- Category: string (nullable = true)
 |-- Transaction Type: string (nullable = true)
 |-- Amount: double (nullable = true)

In [33]:
df3 = spark.read.format("csv").option("header",True).option("inferschema",True).option("dateformat","M/d/yyyy").load("DataSets/transactions.csv")

df3.show(5)

+-----------+-------------+--------+-------------------+----------------+-------+
|Customer_No|    Card_type|    Date|           Category|Transaction Type| Amount|
+-----------+-------------+--------+-------------------+----------------+-------+
|    1000501|Platinum Card|1/1/2018|           Shopping|           debit|  11.11|
|    1000501|     Checking|1/2/2018|    Mortgage & Rent|           debit|1247.44|
|    1000501|  Silver Card|1/2/2018|        Restaurants|           debit|  24.22|
|    1000501|Platinum Card|1/3/2018|Credit Card Payment|          credit|2298.09|
|    1000501|Platinum Card|1/4/2018|      Movies & DVDs|           debit|  11.76|
+-----------+-------------+--------+-------------------+----------------+-------+
only showing top 5 rows

In [34]:
df3.printSchema()


# Check Date Column Type

root
 |-- Customer_No: integer (nullable = true)
 |-- Card_type: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Transaction Type: string (nullable = true)
 |-- Amount: double (nullable = true)