In [1]:
2+3

5

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Union Ex").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/02/27 21:58:56 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
list_A = [(101,"Nik","10th"),(102,"Rik","8th"),(103,"Pik","7th")]

df1 = spark.createDataFrame(list_A,schema = ["ID","Name","Class"])
df1.show()

+---+----+-----+
| ID|Name|Class|
+---+----+-----+
|101| Nik| 10th|
|102| Rik|  8th|
|103| Pik|  7th|
+---+----+-----+

In [8]:
list_B = [("12th",104,"Nibba"),("11th",105,"Nibbi")]

df2 = spark.createDataFrame(list_B,schema = ["Class","ID","Name"])
df2.show()

+-----+---+-----+
|Class| ID| Name|
+-----+---+-----+
| 12th|104|Nibba|
| 11th|105|Nibbi|
+-----+---+-----+

Join

In [9]:
df_join_1 = df1.union(df2)
df_join_1.show()

+----+----+-----+
|  ID|Name|Class|
+----+----+-----+
| 101| Nik| 10th|
| 102| Rik|  8th|
| 103| Pik|  7th|
|12th| 104|Nibba|
|11th| 105|Nibbi|
+----+----+-----+

Above unioned data is not in proper form because Union can be done by position and column type

Below is Union by conidering name

In [10]:
df_join_2 = df1.unionByName(df2)
df_join_2.show()

+---+-----+-----+
| ID| Name|Class|
+---+-----+-----+
|101|  Nik| 10th|
|102|  Rik|  8th|
|103|  Pik|  7th|
|104|Nibba| 12th|
|105|Nibbi| 11th|
+---+-----+-----+

In [13]:
list_C = [("12th",106,"Remo","Maths"),("10th",107,"Demo","Physics")]

df3 = spark.createDataFrame(list_C,schema = ["Class","ID","Name","Subject"])
df3.show()

+-----+---+----+-------+
|Class| ID|Name|Subject|
+-----+---+----+-------+
| 12th|106|Remo|  Maths|
| 10th|107|Demo|Physics|
+-----+---+----+-------+

In [20]:
df2.union(df3).show()

AnalysisException: Union can only be performed on tables with the same number of columns, but the first table has 3 columns and the second table has 4 columns;
'Union false, false
:- LogicalRDD [Class#97, ID#98L, Name#99], false
+- LogicalRDD [Class#181, ID#182L, Name#183, Subject#184], false

In [21]:
df2.unionByName(df3).show()

AnalysisException: Union can only be performed on tables with the same number of columns, but the first table has 3 columns and the second table has 4 columns;
'Union false, false
:- LogicalRDD [Class#97, ID#98L, Name#99], false
+- Project [Class#181, ID#182L, Name#183, Subject#184]
   +- LogicalRDD [Class#181, ID#182L, Name#183, Subject#184], false

In [22]:
df2.unionByName(df3,allowMissingColumns=True).show()

+-----+---+-----+-------+
|Class| ID| Name|Subject|
+-----+---+-----+-------+
| 12th|104|Nibba|   null|
| 11th|105|Nibbi|   null|
| 12th|106| Remo|  Maths|
| 10th|107| Demo|Physics|
+-----+---+-----+-------+

In [24]:
df3.unionByName(df1,allowMissingColumns=True).show()

+-----+---+----+-------+
|Class| ID|Name|Subject|
+-----+---+----+-------+
| 12th|106|Remo|  Maths|
| 10th|107|Demo|Physics|
| 10th|101| Nik|   null|
|  8th|102| Rik|   null|
|  7th|103| Pik|   null|
+-----+---+----+-------+